
*{
      margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}

.search-bar {
    margin-left: 7%;
    width: 40%;
    height: 50px;
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    /* border-bottom: 1px solid #ffffff; */
    position: sticky;
    top: 0;
    z-index: 10;
    gap: 2px;

}

#search-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #4a90e2;
    border-right: none;
    border-radius: 25px;
}

#search-button {
  /* padding: 3px 14px 3px 14px; */
    font-size: 16px;
    border: 1px solid #ffffff;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px; 
    padding: 0;  
    width: 32px;
    height: 32px;
}

#search-button:hover {
    background-color: #58b1ff;
}

.books-container {
    /* margin: auto 0px; */
    flex: 1;
    overflow-y: auto;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;      
    /* gap: 20px;            */
    background-color: #fff;
}

.books-cards-container {
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;           
    background-color: #fff;
    align-items: center;
}

.book-card {
    border: 3px solid #ff0000;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 4px;
    width: 250px;
    height: 350px;
}